body {
    background-color: plum;
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 2cm;
}
.choice:hover {
    cursor:grab;
    background-color: #081b31;
  }

#intro {
    background-color: pink;
    font-size:xx-large;
}

#intro2 {
    display: flex;
    justify-content: center;
    padding-top: 2cm ;
}

#computeranswer1 {
    display: flex;
    justify-content: center;
    padding-top: 2cm;

}

#computeranswer {

}

#result11 {
    display: flex;
    justify-content: center;
    padding-top: 0.2cm;

}
#result1 {    display: flex;
    justify-content: center;
}

#result2 {    display: flex;
    justify-content: center;
}
#result3 {    display: flex;
    justify-content: center;
}
#computeranswer {    display: flex;
    justify-content: center;
}
#bul {
    padding-top: 1.9cm;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }